<div [class]="this.servicio.classtable">
    <h3>Mis asistencias<small>- Porcentaje asistido</small></h3>
    <hr>
    <div class="row">
         
        <div class="lead col-md-3">
            Materias: 
            <select (change)="seleccionarMateria()" class="form-control" id="materia">
                <option *ngFor="let materia of materias" [value]="materia.id">
                    {{materia.nombre}}
                </option>
            </select>
        </div>
        <div style="display:none;" class="lead col-md-2">Mes: <select class="form-control" id="mes" >
            <option *ngFor="let mes of meses let i = index;"  [value]="i" >
                 {{mes}}
            </option>
         </select> 
        </div>
        <!-- <div class="lead col-md-2">Hasta: <input class="form-control" type="date" name="hasta" id="hasta"> </div> -->
    </div>
    <button class="btn btn-info my-2" (click)="filtrar()">Filtrar</button>
    <div class="m-4">
        <div id="porc" class="porcentaje border">
             <div id="porcentaje" class="display-4 align-items-center  py-5"></div>
             
        </div>

        
    </div>
    
</div>