<abm-filtro *ngIf="!this.esRelacion"  (emisorFiltro)="lista = $event" ></abm-filtro>
<div id="notificacion" class="alert alert-success alert-dismissible fade show" style="display:none;" role="alert">
     <div id="textnotificacion" class="lead"></div>
  </div>
<div [class]="this.servicio.classtable">
    <h3>Materias</h3>
    <table [class]="this.servicio.classtable2">
        <thead>
            <tr>
                <th *ngIf="this.servicio.idSeleccionado != null && !esRelacion" >Seleccionar</th>
                <th scope="col"><a href="javascript:void(0);" (click)="ordenar('nombre')">Nombre</a></th>
                <th *ngIf="!esRelacion" scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let materia of lista">
                <td *ngIf="this.servicio.idSeleccionado != null && !esRelacion && this.servicio.idsSeleccionados != null"><input *ngIf="esSeleccionado(materia.id)" (click)="cambiarEstado(materia.id)" type="checkbox" checked id="chk-{{materia.id}}" />
                    <input *ngIf="!esSeleccionado(materia.id)" (click)="cambiarEstado(materia.id)" type="checkbox" id="chk-{{materia.id}}" /></td>
                <td>{{materia.nombre}}</td>
                <td><button *ngIf="!esRelacion" class="btn btn-outline-success" title="Editar" (click)="editar(materia.id)" ><span class="fa fa-edit"></span></button>
                    <button *ngIf="!esRelacion" class="btn btn-outline-danger"  title="Eliminar" (click)="eliminar(materia.id)"><span class="fa fa-trash-alt"></span></button>
                    <button *ngIf="!esRelacion && this.modalService.listAbm != null && this.modalService.listAbm != undefined" class="btn btn-outline-info" title="Seleccionar" (click)="seleccionar(materia.id)"><span class="fa fa-check"></span></button></td>
            </tr>
        </tbody>
    </table>
    
</div>
<button *ngIf="!esRelacion" class="btn btn-info" (click)="editar(0)" ><span ></span> Nuevo registro</button>
    <button *ngIf="this.servicio.idSeleccionado != null && !esRelacion" class="btn btn-info" (click)="aceptarSeleccion()" >Aceptar selección</button>
    
    <nav *ngIf="!esRelacion" class="float-right" aria-label="Navegación">
    
        <ul class="pagination">
            <li class="page-item"><select (change)="paginar('limite')" class="form-select page-link" id="limite" aria-label=".limite">
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="100">100</option>
              </select></li>
              <li class="page-item"></li>
          <li class="page-item" *ngFor="let dummy of ' '.repeat((cantidad/registrosvistos)+1).split(''), let x = index" ><a class="page-link" href="javascript:void(0);" (click)="paginar(x)">{{x}}</a></li> 
        </ul>
      </nav>