<div [class]="this.servicio.alertrel"   id="l-usuarios">
    <button type="button" class="close" (click)="closerel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
<h4 [class]="this.servicio.classtable">{{usuarioSeleccionado}}</h4>
<hr> 
 
<app-abm-roles [esRelacion]="true" [lista]="this.listaroles" ></app-abm-roles>
<button *ngIf="this.servicio.idSeleccionado" class="btn btn-info" (click)="modificar()" ><span ></span>Modificar roles</button>
</div>

<div class="row">
    <div class="float-left col-12">
        <app-abm-usuario [esRelacion]="true" (emisorId)="searchRoles($event)"></app-abm-usuario>
    </div>
<!-- <br />
<br /> -->

</div>