<div class="row">
    <div class="float-left col-md-6">
<app-abm-convocatoria [esRelacion]="true" (emisorId)="searchCurriculum($event)"></app-abm-convocatoria>
</div>
<!-- <br />
<br /> -->
<div class="float-left col-md-6">
<h4 [class]="this.servicio.classtable" >{{convocatoriaselecionada}}</h4>
<hr> 
<!-- <br />

<br /> -->
<app-abm-curriculum [esRelacion]="true" [lista]="this.listaCV" ></app-abm-curriculum>
<button *ngIf="this.servicio.idSeleccionado" class="btn btn-info" (click)="modificar()" ><span ></span>Modificar curriculum</button>
</div>
</div>