/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@font-face {
  font-family: lato-regular;
  src: url(./assets/Lato-Regular.ttf);
  }
body{
  font-family: lato-regular;
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.modal-backdrop.fade{
  
  opacity: .4;
  background-color: #0d1d2b;
  backdrop-filter: blur(6px);
}
.btn{
  margin:3px;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  /* padding: .75rem 1rem; */
  margin-bottom: 1rem;
  list-style: none;
  background-color: none;
  border-radius: .25rem;
  text-transform:capitalize;
}
#filtros{
  opacity: 1;
  margin-top: -16px;
  display:none;
  width: 100%;
  max-width: 100%;
  height:auto;
}
#filtros .form-control{
  width:auto;
  height: 35px;
  float:left;

}
#filtros label {
  width:auto;
  padding: 8px;
  float:left;
  margin-left:120px;
}
#filtros .btn{
  margin: 0px;
  margin-left: 8px;
  height: 35px;
  float:left;
  width: auto;
}

@media(max-width:550px){
  #filtros .btn{
    margin: 0px;
    margin-left: 8px;
    height: 35px;
    float:left;
    width: 18%;
  }
  #filtros .form-control{
    width:23%;
    height: 35px;
    float:left;
  
  }
  #filtros label {
    width:12%;
    padding: 8px;
    float:left;
    margin-left:0px;
  }
}

.table-responsive{
  
    overflow-y: scroll;
    max-height: 80vh;
}
.bodyclass{
  background-color: #343940;
  min-height: 100vh;
}
.bodyclasswh{
  background-color: #FFFFFF;
}
.img-logo{
  filter:grayscale(100%) brightness(1000%);
}

.custom-logo-link{
  filter:none;
}