/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@font-face {
  font-family: lato-regular;
  src: url(./assets/Lato-Regular.ttf);
  }
body{
  font-family: lato-regular;
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.modal-backdrop.fade{
  
  opacity: .4;
  background-color: #0d1d2b;
  backdrop-filter: blur(6px);
}
.btn{
  margin:3px;
  border-radius: 0;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  /* padding: .75rem 1rem; */
  margin-bottom: 1rem;
  list-style: none;
  background-color: none;
  border-radius: .25rem;
  text-transform:capitalize;
}

.table-responsive{
  
    overflow-y: scroll;
    max-height: 68vh;
}
.bodyclass{
  background-color: #343940;
  min-height: 100vh;
}
.bodyclasswh{
  background-color: #FFFFFF;
}
.img-logo{
  filter:grayscale(100%) brightness(1000%);
}

.custom-logo-link{
  filter:none;
}

.btn-outline-success {
  color: #8C3C59;
  background-color: transparent;
  background-image: none;
  border-color: #8C3C59;
}

.btn-outline-success:hover {
  color: #F2F2F2;
  background-color: #8C3C59;
  border-color: #8C3C59;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
  box-shadow: 0 0 0 .2rem rgba(122, 204, 119, 0.5)
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #8C3C59;;
  background-color: transparent
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
  color: #F2F2F2;
  background-color: #8C3C59;
  border-color: #8C3C59;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(119, 204, 126, 0.5)
}



.btn-outline-danger {
  color: #D25933;;
  background-color: transparent;
  background-image: none;
  border-color: #D25933;;
}

.btn-outline-danger:hover {
  color: #F2F2F2;
  background-color: #D25933;;
  border-color: #D25933;;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
  box-shadow: 0 0 0 .2rem rgba(204, 119, 119, 0.5)
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #D25933;;
  background-color: transparent
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
  color: #F2F2F2;
  background-color: #D25933;;
  border-color: #D25933;;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(204, 129, 119, 0.5)
}



.btn-danger {
  color: #D25933;;
  background-color: transparent;
  background-image: none;
  border-color: #D25933;;
}

.btn-danger:hover {
  color: #F2F2F2;
  background-color: #D25933;;
  border-color: #D25933;;
}

.btn-danger:focus,
.btn-danger.focus {
  box-shadow: 0 0 0 .2rem rgba(204, 119, 119, 0.5)
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #D25933;;
  background-color: transparent
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
  color: #F2F2F2;
  background-color: #D25933;;
  border-color: #D25933;;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(204, 129, 119, 0.5)
}