td{
    border: 1px solid rgba(182, 185, 187, 0.576);
    padding:6px;
}
th{
    border: 1px solid #b6b9bb93; 
    padding: 6px;
}
#nota{
    width: 300px;
    position: absolute;
    display: none;
    z-index: 2000;
}
.nota{
    width: 300px;
    position: absolute;
    display: none;
    z-index: 2000;
}
a{
    border-radius: 50px;
}
@media(max-width:600px){
    #nota{
        width: 300px;
        position: relative; 
    }
    .nota{
        width: 300px;
        position: relative; 
    }
}

input[type="number"]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}