<abm-filtro (emisorFiltro)="lista = $event" ></abm-filtro><div id="notificacion" class="alert alert-success alert-dismissible fade show" style="display:none;" role="alert">
     <div id="textnotificacion" class="lead"></div>
     <button type="button" class="close" (click)="closealert()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
<div [class]="this.servicio.classtable">
    <h3>Fórmulas para puntaje docente</h3>
    <table [class]="this.servicio.classtable2">
        <thead>
            <tr>
                <th scope="col"><a href="javascript:void(0);" (click)="ordenar('id')">#</a></th>
                <th scope="col"><a href="javascript:void(0);" (click)="ordenar('titulo')">Título</a></th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let formula of lista">
                <td>{{formula.id}}</td>
                <td>{{formula.titulo}}</td>
               
                <td><button class="btn btn-outline-success" title="Editar" (click)="editar(formula.id)" ><span class="fa fa-edit"></span></button>
                    <button class="btn btn-outline-danger"  title="Eliminar" (click)="eliminar(formula.id)"><span class="fa fa-trash-alt"></span></button>
                    <button *ngIf="(this.modalService.listAbm != null && this.modalService.listAbm != undefined) || esRelacion" class="btn btn-outline-info" title="Seleccionar" (click)="seleccionar(formula.id)"><span class="fa fa-check"></span></button></td>
            </tr>
        </tbody>
    </table>
   
</div>
<button class="btn btn-info" (click)="editar(0)" ><span ></span> Nuevo registro</button>
