<abm-filtro (emisorFiltro)="lista = $event" ></abm-filtro>
<div [class]="this.servicio.classtable">
    <h3>Pais</h3>
    <table [class]="this.servicio.classtable2">
        <thead>
            <tr>
                <th scope="col">Pais</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let pais of lista">
                <td>{{pais.nombre}}</td>
                <td><button class="btn btn-outline-success" title="Editar" (click)="editar(pais.id)" ><span class="fa fa-edit"></span></button>
                    <button class="btn btn-outline-danger" title="Eliminar" (click)="eliminar(pais.id)"><span class="fa fa-trash-alt"></span></button>
                    <button *ngIf="this.modalService.listAbm != null && this.modalService.listAbm != undefined" class="btn btn-outline-info" title="Seleccionar" (click)="seleccionar(pais.id)"><span class="fa fa-check"></span></button></td>
            </tr>
        </tbody>
    </table>
    
</div>
<button class="btn btn-info" (click)="editar(0)" ><span ></span> Nuevo registro</button>
