<div class="row">
    <div  class="float-left col-md-6">
<app-abm-curso [esRelacion]="true" (emisorId)="searchalumnos($event)"></app-abm-curso>
<!-- <br />
<br /> -->
</div>
<div  class="float-left col-md-6">
<h4 [class]="this.servicio.classtable" >{{cursoSeleccionado}}</h4>
<hr> 
<!-- <br />
<hr> 
<br /> -->
<app-abm-alumno [esRelacionCurso]="true" [alumnos]="this.listaAlumnos" [lista]="this.listaAlumnos" ></app-abm-alumno>
<button *ngIf="this.servicio.idSeleccionado" class="btn btn-info" (click)="modificar()" ><span ></span>Modificar alumnos</button>
</div></div>