<div [class]="this.servicio.classtable">
<h4><div *ngIf="estudiante['nombrerol'] == 'estudiante' ">
<div [innerHTML]="estudiante['nombreapellido']">
</div>estos son tus mensajes:
</div></h4>


 <table [class]="this.servicio.classtable2">
        <thead>
            <tr>
                <th scope="col">Materia</th>
                <th scope="col">Mensaje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let mensaje of mensajes">
                <td>{{mensaje.nombreMateria}}</td>
                <td>{{mensaje.tituloMensaje}} <a [routerLink]="" (click)="abrirModal(mensaje.id, mensaje.idestudiante, mensaje.nombreMateria,mensaje.mensaje)">Ver mensaje</a></td>
            </tr>
        </tbody>
    </table>
</div>
