<div [class]="this.servicio.classtable">
<h4><div *ngIf="estudiante['nombrerol'] == 'estudiante' ">
<div [innerHTML]="estudiante['nombreapellido']">
</div>estos son tus mensajes:
</div></h4>


 <table [class]="this.servicio.classtable2">
        <thead>
            <tr>
                <th scope="col">Materia</th>
                <th scope="col">Mensaje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let mensaje of mensajes">
                <td *ngIf="mensaje.estado == '0'" > <u>{{mensaje.nombreMateria}}</u> </td>
                <td *ngIf="mensaje.estado == '0'" > <u>{{mensaje.tituloMensaje}}...</u> <a [routerLink]="" routerLinkActive="router-link-active"  (click)="abrirModal(mensaje.id, mensaje.idestudiante, mensaje.nombreMateria,mensaje.mensaje)">Ver mensaje</a></td>
                <td *ngIf="mensaje.estado == '1'" >{{mensaje.nombreMateria}}</td>
                <td *ngIf="mensaje.estado == '1'" >{{mensaje.tituloMensaje}}...<a [routerLink]="" routerLinkActive="router-link-active"  (click)="abrirModal(mensaje.id, mensaje.idestudiante, mensaje.nombreMateria,mensaje.mensaje)">Ver mensaje</a></td>
            </tr>
        </tbody>
    </table>
</div>
