<button (click)="showFiltros()" id="mostrar" title="Mostrar filtros" style="width:25px;height:25px;padding: 0px;" class="btn btn-outline-info"><span class="fas fa-filter fa-xs"></span></button>
<button *ngIf="this.resultados.length > 0 " (click)="generarPDF()" id="pdf" title="Resultados pdf" style="z-index:5000;position:absolute;width:25px;height:25px;padding: 0px;" class="btn btn-danger"><span class="fas fa-file-pdf fa-xs"></span></button>
<div id="filtros" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <!-- <div class="toast-header"> -->
      <!-- <img src="..." class="rounded mr-2" alt="..."> -->
      <!-- <strong class="mr-auto">Filtrar</strong> -->
      <!-- <small></small> -->
      <button type="button" class="ml-2 mb-1 close" (click)="cerrarFiltros()" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <!-- </div> -->
    <div class="toast-body">
      <label>Filtrar por: </label> 
      <select (change)="getTipoFiltro()" *ngIf="modalService.filtro" id="filtro" class="form-control">
        <option *ngFor="let fil of modalService.filtro let i = index;" [ngValue]="i">
          {{fil.campo}}
        </option>
      </select>
      <label>Valor: </label><input type="text" class="form-control" id="valorFiltro"/>
      <button (click)="filtrarCampo()" class="btn btn-info"><span class="fa fa-filter"></span> filtrar</button>
    </div>

    <div style="float:left;">
      <label *ngFor="let tag of arrayValores let i = index;" class="btn-success" style="width: auto;height:22px;font-size:10pt;padding:0px;margin:2px;border-radius: 30px;">
        <span style="margin: 5px;" *ngIf="i%2 == 0">
        {{tag}}
        <button type="button" id="{{tag}}" style="margin-top: -2px;margin-right:3px; outline: none;" value="{{tag}}" class="ml-2 mb-1 close" (click)="borrar(tag)" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </span>
      </label>
    
    </div>
  </div>
  