#filtros{
    opacity: 1;
    margin-top: -38px;
    width: 200%;
    max-width: 100%;
    height:auto;
    position: absolute;
    left: 0;
     
    padding-top: 6px;
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
  }



  #filtros .form-control{
    width:auto;
    height: 35px;
    float:left;
  
  }
  #filtros label {
    width:auto;
    padding: 8px;
    float:left;
  }
  #filtros .btn{
    margin-left: 8px;
    margin-right: 8px;
    height: 35px;
    float:left;
    width: auto;
  }
  
   
  @media (max-width:990px) and (min-width:551px){
    #filtros .btn{
        
        margin-left: 6px;
        height: 35px;
        float:left;
        width: auto;
      }
      #filtros .form-control{
        width:20%;
        height: 35px;
        float:left;
      
      }
      #filtros label {
        width:8%;
        padding: 8px;
        float:left;
      }
     
  }
  @media(max-width:550px){
    #filtros .btn{
        margin: 0px;
        margin-left: 8px;
        height: 35px;
        float: left;
        width: 35px;
        border-radius: 50px;
        padding: 4px;
        overflow: hidden;
    }
    #filtros .form-control{
      width:23%;
      height: 35px;
      float:left;
    
    }
    #filtros label {
      width:12%;
      padding: 8px;
      float:left;
      margin-left: auto;
    }
   
  }
  