<div *ngIf="tipo == 1">
  <p class="p2">
    {{title}}<br /><br />
    {{message}}<br /><br />
    <button type="button" class="btn btn-info" (click)="save()">Aceptar</button>
    <button type="button" class="btn btn-info" (click)="cancel()">Cancelar</button></p>
</div>
<div *ngIf="tipo == 2">
  <p class="p2">
    {{title}}<br /><br />
    {{message}}<br /><br />

    <button type="button" class="btn btn-primary" (click)="save()">Aceptar</button></p>
</div>
<div id="abmmodal" *ngIf="tipo == 3">
  <form class="form-horizontal" [formGroup]="formGroup">
    <p class="p3" style="max-height: 100%; overflow-y: auto;">
      <button type="button" style="width:17px;" class="close" (click)="cancel()" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
      </button><br />{{title}} <br /><br />
      <a *ngFor="let par of parametros">
        <!--campos con foráneas-->
        <div *ngIf="par.tipo.startsWith('iddomicilio',0) ">
          <app-abm-domicilio (emisorId)="this.formGroup.get('iddomicilio').setValue($event)"  [id]="+par.valor"></app-abm-domicilio>
        </div>
        <div *ngIf="par.tipo.length > 2 && par.tipo.startsWith('id',0) && !par.tipo.startsWith('iddomicilio',0) ">
          <div class="form-group"
            [ngClass]="{ 'has-success': formGroup.get(par.tipo).valid, 'has-error': (formGroup.get(par.tipo).touched || formGroup.get(par.tipo).dirty) && !formGroup.get(par.tipo).valid }">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span style="width:100px;text-align: right;text-transform:capitalize;" title="{{par.tipo}}"
                  class="input-group-text" id="basic-addon1">{{par.tipo.substr(2)}}</span>
              </div>
              <input formControlName="{{par.tipo}}" id="in-{{par.tipo}}" class="form-control" type="{{par.tipoCampo}}"
                style="flex: none; width:20px;" (change)="buscarDescripcion(par.tipo)" value="{{par.valor}}" />
              <input style="width:40%;flex: 20 1 110px;" disabled type="text" id="{{par.tipo}}-desc" />
               
              <button title="{{par.tipo}}" id="btn-abm" class="btn btn-outline-info"
                (click)="abrirAbm(par.tipo, message)"><span class="fa fa-search"></span></button>
            </div>
            <span style="margin:2px;" class="help-block"
              *ngIf="(formGroup.get(par.tipo).touched || formGroup.get(par.tipo).dirty) && formGroup.get(par.tipo).errors ">
              <span style="color:#bd1818;" *ngIf="formGroup.get(par.tipo).errors.required">
                Campo erróneo
              </span>
            </span>
          </div>
        </div>

        <div *ngIf="par.tipo != 'id' && !par.tipo.startsWith('id',0) && par.tipo != 'estado' && par.tipo != 'tipo'  ">
          <div class="form-group"
            [ngClass]="{ 'has-success': formGroup.get(par.tipo).valid, 'has-error': (formGroup.get(par.tipo).touched || formGroup.get(par.tipo).dirty) && !formGroup.get(par.tipo).valid }">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span style="width:110px;text-align: right;text-transform:capitalize;" title="{{par.tipo}}"
                  class="input-group-text" id="basic-addon1">{{par.tipo}}</span>
              </div>
              <input formControlName="{{par.tipo}}" id="in-{{par.tipo}}" class="form-control" type="{{par.tipoCampo}}"
                value="{{par.valor}}" />
            </div>
            <span class="help-block"
              *ngIf="(formGroup.get(par.tipo).touched || formGroup.get(par.tipo).dirty) && formGroup.get(par.tipo).errors">
              <span style="color:#bd1818;" *ngIf="formGroup.get(par.tipo).errors.required">
                Campo erróneo
              </span>
            </span>
          </div>
        </div>
        <div *ngIf="par.tipo == 'estado'">
          <div class="form-group"
            [ngClass]="{ 'has-success': formGroup.get(par.tipo).valid, 'has-error': (formGroup.get(par.tipo).touched || formGroup.get(par.tipo).dirty) && !formGroup.get(par.tipo).valid }">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span style="width:110px;text-align: right;text-transform:capitalize;" title="{{par.tipo}}"
                  class="input-group-text" id="basic-addon1">{{par.tipo}}</span>
              </div>
              <!-- <input formControlName="{{par.tipo}}" id="in-{{par.tipo}}" class="form-control" type="{{par.tipoCampo}}"
                value="{{par.valor}}" /> -->
              <select formControlName="{{par.tipo}}" id="in-{{par.tipo}}" class="form-control">
                <option *ngFor="let obj of this.modalService.estados let i = index;" [value]="i">
                  {{obj}}
                </option>
              </select>
            </div>
                <span class="help-block"
                  *ngIf="(formGroup.get(par.tipo).touched || formGroup.get(par.tipo).dirty) && formGroup.get(par.tipo).errors">
                  <span style="color:#bd1818;" *ngIf="formGroup.get(par.tipo).errors.required">
                    Campo erróneo
                  </span>
                </span>
              </div>
            </div>
            <div *ngIf="par.tipo == 'tipo'">
              <div class="form-group"
                [ngClass]="{ 'has-success': formGroup.get(par.tipo).valid, 'has-error': (formGroup.get(par.tipo).touched || formGroup.get(par.tipo).dirty) && !formGroup.get(par.tipo).valid }">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span style="width:110px;text-align: right;text-transform:capitalize;" title="{{par.tipo}}"
                      class="input-group-text" id="basic-addon1">{{par.tipo}}</span>
                  </div>
                  <!-- <input formControlName="{{par.tipo}}" id="in-{{par.tipo}}" class="form-control" type="{{par.tipoCampo}}"
                    value="{{par.valor}}" /> -->
                  <select formControlName="{{par.tipo}}" id="in-{{par.tipo}}" class="form-control">
                    <option *ngFor="let obj of this.modalService.estados  " [value]="obj">
                      {{obj}}
                    </option>
                  </select>
                </div>
                <span class="help-block"
                  *ngIf="(formGroup.get(par.tipo).touched || formGroup.get(par.tipo).dirty) && formGroup.get(par.tipo).errors">
                  <span style="color:#bd1818;" *ngIf="formGroup.get(par.tipo).errors.required">
                    Campo erróneo
                  </span>
                </span>
              </div>
            </div>

      </a>
      <button type="button" class="btn btn-outline-danger" (click)="cancel()"><span
          class="fa fa-reply"></span>Cancelar</button>
      <button type="button" [disabled]="!formGroup.valid" class="btn btn-outline-success" (click)="guardar()"><span
          class="fa fa-save"></span>Guardar</button>
      <br />
      <span class="help-block" *ngIf="!formGroup.valid">
        <span style="color:#bd1818; margin:auto;">
          Revise los campos
        </span>
      </span>
    </p>
  </form>
</div>