<div id="home" [class]="this.servicio.classtable2" >
<section id="banner">
<div class="content">
<header>

<h2>Bienvenido {{rol.nombreapellido}}<br />al portal Autogestión de {{rol.nombrerol}}</h2>

</header>
<p>Asistencias, Calificaciones, fechas de exámenes y mensajes</p>
</div>
<div *ngIf="this.rol.nombrerol == 'Estudiante' ||this.rol.nombrerol == 'Docente' " class="features">
<article (click)="ingresoAsistencias()">
<span class="btn btn-outline-light icon fa-clock"></span>
<div class="content">
<h3>Asistencia</h3>

</div>
</article>
<article (click)="ingresoCalificaciones()">
<span class="btn btn-outline-light icon solid fa-file-signature"></span>
<div class="content">
<h3>Calificaciones</h3>
<span *ngIf="inscripto" class="badge badge-info">Estas inscripto en {{finales}} final</span>
</div>
</article>
<article (click)="ingresoCalendario()">
<span class="btn btn-outline-light icon solid fa-calendar-alt"></span>
<div class="content">
<h3>Calendario Academico</h3>

</div>
</article>
<article (click)="ingresoMensajes()">
<span class="btn btn-outline-light icon solid fa-paper-plane"></span>
<div class="content">
    <span *ngIf="tienemsjs" class="badge badge-info">Tenés {{mensajes}} mensajes sin leer</span>
    <span *ngIf="tienemsjs" class="badge badge-success">{{descmsjs}}</span>
<h3>Mensajes</h3> 
</div>
</article>
</div>

</section>

</div>

<div id="homecv" style="display: none;" [class]="this.servicio.classtable2" >
    <section id="banner">
    <div class="content">
    <header>

        <h2>Bienvenido al portal Autogestión de Currículums de ISAUI</h2>

    </header>
    <p></p>
    </div>
    <div class="features">
        <article (click)="ingresoCv()">
            <span class="btn btn-outline-light icon solid fa-user-edit"></span>
            <div class="content">
            <h3>Mi currículum</h3>
            </div>
            </article>


    <article (click)="ingresoConvocatorias()">
    <span class="btn btn-outline-light icon solid fa-users"></span>
    <div class="content">
    <h3>Convocatorias</h3>
    </div>
    </article>

    <!-- <article (click)="ingresoCalendario()">
    <span class="btn btn-outline-light icon solid fa-calendar-alt"></span>
    <div class="content">
    <h3>Calendario Academico</h3>
    </div>
    </article>

    <article (click)="ingresoMensajes()">
    <span class="btn btn-outline-light icon solid fa-paper-plane"></span>
    <div class="content">
    <h3>Mensajes</h3>
    </div>
    </article> -->


    </div>

    </section>

    </div>


