
<section id="banner">
<div class="content">
<header>
<h2 style="margin-top:55px">Bienvenido {{rol}}<br />al portal Autogestion</h2>

</header>
<p>Asistencias, Calificaciones, fechas de examanes y mensajes con los docentes</p>
</div>
<div class="features">
<article>
<span class="btn btn-outline-light icon fa-clock"></span>
<div class="content">
<h3>Asistencia</h3>
</div>
</article>
<article>
<span class="btn btn-outline-light icon solid fa-calendar-alt"></span>
<div class="content">
<h3>Calificaciones</h3>

</div>
</article>
<article>
<span class="btn btn-outline-light icon solid fa-rocket"></span>
<div class="content">
<h3>Calendario Academico</h3>

</div>
</article>
<article>
<span class="btn btn-outline-light icon solid fa-paper-plane"></span>
<div class="content">
<h3>Mensajes</h3>

</div>
</article>
</div>

</section>

