<div [class]="this.servicio.classtable" >
        <h3>Asistencias</h3>
             <hr> 
             <div class="form-group">
                <h5 class="col-md-2 control-label">Materias: </h5> 
             <div class="col-md-6">
             <select (change)="seleccionarMateria()" class="form-control" id="materia" >
                <option *ngFor="let materia of materias"  [value]="materia.id" >
                     {{materia.nombre}}
                </option>
             </select>
             
            </div>
<hr>
<table [class]="this.servicio.classtable2" >
    <thead>
        <th scope="col">estudiantes</th> 
        <th scope="col" *ngFor="let dia of dias" id="d{{dia.numero}}" ><a *ngIf="dia.diasemana != 0 && dia.diasemana!=6" class="lead">{{dia.numero}}</a></th>
    </thead>
    <tbody>
        <tr *ngFor="let estudiante of estudiantes let i = index;">
            <td>{{estudiante.apellido}},&nbsp;{{estudiante.nombre}} </td>
            
        <th scope="col" *ngFor="let dia of dias"  id="celda{{dia.numero}}-{{i}}" >
            <small *ngIf="dia.diasemana != 0 && dia.diasemana!=6"  (click)="cambiarCheck(dia,i)" style="margin-left:0px;padding:7px;">{{dia.sem}}</small>
            <br />
        </th>
         
        
        </tr>
    </tbody>
</table>
<button id="aceptar" style="display: none;" (click)="registrarAsistencias()" class="btn btn-info">Aceptar selección</button>
</div>