<abm-filtro *ngIf="!esRelacionCurso" (emisorFiltro)="lista = $event" ></abm-filtro>
<div [class]="this.servicio.classtable">
    <h3>Alumnos</h3>
    <table [class]="this.servicio.classtable2">
        <thead>
            <tr>
                <th *ngIf="this.servicio.idSeleccionado != null && !esRelacionCurso" >Seleccionar</th>
                <th scope="col">Legajo</th>
                <th scope="col">Nombre y apellido</th>
                <th scope="col">Documento</th>
                <th *ngIf="!esRelacionCurso" scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let alumno of lista">
                <td *ngIf="this.servicio.idSeleccionado != null && this.servicio.idsSeleccionados != null  && !esRelacionCurso && !esRelacion">
                    <input *ngIf="esSeleccionado(alumno.id)" type="checkbox" checked id="chk-{{alumno.id}}" />
                    <input *ngIf="!esSeleccionado(alumno.id)" type="checkbox" id="chk-{{alumno.id}}" /></td>
                <td>{{alumno.legajo}}</td>
                <td>{{alumno.nombre}},&nbsp;&nbsp;{{alumno.apellido}}</td>
                <td>{{alumno.numerodoc}}</td>
                <td><button *ngIf="!esRelacionCurso" class="btn btn-outline-success" title="Editar" (click)="editar(alumno.id)" ><span class="fa fa-edit"></span></button>
                    <button *ngIf="!esRelacionCurso" class="btn btn-outline-danger"  title="Eliminar" (click)="eliminar(alumno.id)"><span class="fa fa-trash-alt"></span></button>
                    <button *ngIf="!esRelacionCurso && ((this.modalService.listAbm != null && this.modalService.listAbm != undefined) || esRelacion )" class="btn btn-outline-info" title="Seleccionar" (click)="seleccionar(alumno.id)"><span class="fa fa-check"></span></button></td>
            </tr>
        </tbody>
    </table>
   
</div>
<button *ngIf="!esRelacionCurso" class="btn btn-info" (click)="editar(0)" ><span ></span> Nuevo registro</button>
<button *ngIf="this.servicio.idSeleccionado != null && !esRelacionCurso" class="btn btn-info" (click)="aceptarSeleccion()" >Aceptar selección</button>
