<abm-filtro (emisorFiltro)="lista = $event" ></abm-filtro><div id="notificacion" class="alert alert-success alert-dismissible fade show" style="display:none;" role="alert">
     <div id="textnotificacion" class="lead"></div>
  </div>
 <div [class]="this.servicio.classtable">
    <h3>Eventos</h3>
    <table [class]="this.servicio.classtable2">
        <thead>
            <tr>
                <th scope="col"><a href="javascript:void(0);" (click)="ordenar('nombre')">Evento</a></th>
                <th scope="col"><a href="javascript:void(0);" (click)="ordenar('fechainicio')">Fecha inicio</a></th>
                <th scope="col"><a href="javascript:void(0);" (click)="ordenar('fechafin')">Fecha fin</a></th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let evento of lista">
                <td>{{evento.nombre}}</td>
                <td>{{evento.fechainicio | date : 'dd/MM/yyyy'}}</td>
                <td>{{evento.fechafin | date : 'dd/MM/yyyy'}}</td>
                <td><button class="btn btn-outline-success" title="Editar" (click)="editar(evento.id)" ><span class="fa fa-edit"></span></button>
                    <button class="btn btn-outline-danger"  title="Eliminar" (click)="eliminar(evento.id)"><span class="fa fa-trash-alt"></span></button>
                    <button *ngIf="this.modalService.listAbm != null && this.modalService.listAbm != undefined" class="btn btn-outline-info" title="Seleccionar" (click)="seleccionar(evento.id)"><span class="fa fa-check"></span></button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-info" (click)="editar(0)" ><span ></span> Nuevo registro</button>
</div>
