<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><img class="custom-logo-link" style="width:160px;" [src]="'/assets/Logo.png'" alt="ISAUI"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <!-- <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li> -->
          <!-- <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li> -->
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/abm-alumno']">Alumnos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/abm-docente']">Docentes</a>
          </li>
          <li class="nav-item dropdown" [routerLinkActive]="['link-active']" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Alta-Baja-Modificación
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/abm-curso']">Curso</a>
              <a class="dropdown-item" [routerLink]="['/abm-carrera']">Carrera</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/abm-usuario']">Usuario</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/abm-domicilio']">Domicilio</a>
              <a class="dropdown-item" [routerLink]="['/abm-provincia']">Provincia</a>
              <a class="dropdown-item" [routerLink]="['/abm-localidad']">Localidad</a>
              <a class="dropdown-item" [routerLink]="['/abm-pais']">Pais</a> 
            </div>
          </li>
          <!-- <li class="nav-item dropdown">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button class="dropdown-item">Action - 1</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
              </div>
            </div>
          </li> -->
           
        </ul>
      </div>
    </div>
  </nav>
</header>
