<header>
  <nav [class]="this.servicio.classnav">
    <div class="container">
      <a class="navbar-brand"><img [class]="this.servicio.classimg" style="width:160px;"
          [src]="'/assets/Logo.png'" alt="ISAUI" (click)="IrHome()"></a>
      <nav *ngIf="this.modalService.lista && this.modalService.lista.length > 0" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li *ngFor="let item of this.modalService.lista" class="breadcrumb-item"><a href="#">{{item}}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">{{this.modalService.actual}}</a></li>
        </ol>
      </nav>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li>
            <div>
              <button class="btn rounded-circle text-info" title="Información del componente" (click)="toggleayuda()" ><span class="fa fa-info fa-md"></span></button>
            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="alguncomponente('abm')" [routerLinkActive]="['link-active']">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Alta-Baja-Modificación
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div *ngFor="let item of menus">
                <a *ngIf="item.tipo == 'abm' && componenteHabilitado(item.componente) && item.idroles == getIdRol()" (click)="setGuardComponente(item.componente)" class="dropdown-item"
                  [routerLink]="['/'+item.componente]">{{item.nombre}}</a>
              </div>

            </div>
          </li>

          <li class="nav-item dropdown" *ngIf="alguncomponente('rel')" [routerLinkActive]="['link-active']">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Formularios de relaciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div *ngFor="let item of menus">
                <a *ngIf="item.tipo == 'rel' && componenteHabilitado(item.componente) && item.idroles == getIdRol()" (click)="setGuardComponente(item.componente)"  class="dropdown-item"
                  [routerLink]="['/'+item.componente]">{{item.nombre}}</a>
              </div>

            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="alguncomponente('frm')"  [routerLinkActive]="['link-active']">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Formularios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div *ngFor="let item of menus">
                <a *ngIf="item.tipo == 'frm' && componenteHabilitado(item.componente) && item.idroles == getIdRol()" (click)="setGuardComponente(item.componente)"  class="dropdown-item"
                  [routerLink]="['/'+item.componente]">{{item.nombre}}</a>
              </div>

            </div>
          </li>
          <li></li>
           <li class="nav-item dropdown"  [routerLinkActive]="['link-active']" *ngIf="estaEnSesion()">
             
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> 
              <img [src]="logservicio.foto" alt="{{usuario}}" class="d-inline-block align-left mx-2"   height="25" >
              {{usuario}} 
            </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              
            <a class="dropdown-item" (click)="cerrarSesion()">Cerrar sesión</a>
              
                <a class="dropdown-item" [routerLink]="['/configuracion-usuario']">Configuración</a>
              
              

            </div>
          </li> 
          
        </ul>
      </div>
    </div>
  </nav>
</header>
 
<div *ngIf="ayu" class="alert alert-success" role="alert">

  <button type="button" class="close" (click)="toggleayuda()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <div class="col-md-2"><img title="info" style="width:100px; display:block ; margin:auto;"
      [src]="'/assets/i.png'" alt="Info" ></div>
    <div class="col-md-10"><h4 class="alert-heading">{{ayuda.titulo}}</h4>
      <p>{{ayuda.descripcion}}</p>
      <hr>
      <p class="mb-0">Autogestión ISAUI</p></div>
  </div>
  
  
  
</div>
