<abm-filtro (emisorFiltro)="lista = $event" ></abm-filtro>
<div [class]="this.servicio.classtable">
    <h3>Docentes</h3>
    <table [class]="this.servicio.classtable2">
        <thead>
            <tr>
                <th scope="col">Legajo</th>
                <th scope="col">Nombre y apellido</th>
                <th scope="col">Documento</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let docente of lista">
                <td>{{docente.legajo}}</td>
                <td>{{docente.nombre}},&nbsp;&nbsp;{{docente.apellido}}</td>
                <td>{{docente.dni}}</td>
                <td><button class="btn btn-outline-success" title="Editar" (click)="editar(docente.id)" ><span class="fa fa-edit"></span></button>
                    <button class="btn btn-outline-danger"  title="Eliminar" (click)="eliminar(docente.id)"><span class="fa fa-trash-alt"></span></button>
                    <button *ngIf="(this.modalService.listAbm != null && this.modalService.listAbm != undefined) || esRelacion" class="btn btn-outline-info" title="Seleccionar" (click)="seleccionar(docente.id)"><span class="fa fa-check"></span></button></td>
            </tr>
        </tbody>
    </table>
   
</div>
<button class="btn btn-info" (click)="editar(0)" ><span ></span> Nuevo registro</button>
