<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Documento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let docente of docentes">
                <td>{{docente.nombre}}</td>
                <td>{{docente.apellido}}</td>
                <td>{{docente.dni}}</td>
            </tr>
        </tbody>
    </table>
</div>
