<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Documento</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let docente of docentes">
                <td>{{docente.nombre}}</td>
                <td>{{docente.apellido}}</td>
                <td>{{docente.dni}}</td>
                <td><button class="btn btn-outline-success" (click)="editar(docente.id)" >Editar</button><button class="btn btn-outline-danger" (click)="eliminar(docente.id)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-info"  ><span ></span> Nuevo registro</button>
</div>

