<abm-filtro (emisorFiltro)="lista = $event" ></abm-filtro><div id="notificacion" class="alert alert-success alert-dismissible fade show" style="display:none;" role="alert">
     <div id="textnotificacion" class="lead"></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div [class]="this.servicio.classtable">
    <h3>Carreras</h3>
    <table [class]="this.servicio.classtable2">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let carrera of lista">
                <td>{{carrera.nombre}}</td>
                <td>{{carrera.descripcion}}</td>
                <td>
                    <button class="btn btn-outline-success" title="Editar" (click)="editar(carrera.id)" ><span class="fa fa-edit"></span></button>
                    <button class="btn btn-outline-danger" title="Eliminar" (click)="eliminar(carrera.id)"><span class="fa fa-trash-alt"></span></button>
                    <button *ngIf="this.modalService.listAbm != null && this.modalService.listAbm != undefined" class="btn btn-outline-info" title="Seleccionar" (click)="seleccionar(carrera.id)"><span class="fa fa-check"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
   
</div>
<button class="btn btn-info" (click)="editar(0)" ><span ></span> Nuevo registro</button>