<abm-filtro (emisorFiltro)="menus = $event" ></abm-filtro>
<div [class]="this.servicio.classtable">
    <h3>menus</h3>
    <table [class]="this.servicio.classtable2">
        <thead>
            <tr>
                <th scope="col">Menu</th>
                <th scope="col">Componente</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let menu of menus">
                <td>{{menu.nombre}}</td>
                <td>{{menu.componente}}</td>
                <td><button class="btn btn-outline-success" title="Editar" (click)="editar(menu.id)" ><span class="fa fa-edit"></span></button>
                    <button class="btn btn-outline-danger"  title="Eliminar" (click)="eliminar(menu.id)"><span class="fa fa-trash-alt"></span></button>
                    <button *ngIf="this.modalService.listAbm != null && this.modalService.listAbm != undefined" class="btn btn-outline-info" title="Seleccionar" (click)="seleccionar(menu.id)"><span class="fa fa-check"></span></button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-info" (click)="editar(0)" ><span ></span> Nuevo registro</button>
</div>

