
 <!-- Footer -->

 <footer class="footer  lighten-5"  >

 
  <div class="container-fluid">

    <!-- Grid row-->
    <div class="row py-2 d-flex align-items-center " id="redessociales">

      <!-- Grid column -->
      <div class="col-lg-6 text-center text-md-left mb-4 mb-md-0 ">
        <h6 class="mb-0" style="color: blanchedalmond;"><strong>¡Conéctese con nosotros en las redes sociales!</strong></h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class=" col-lg-6 text-center text-md-right mb-4 mb-md-0 redes-conteiner" >
        
      <ul style="height: 35px;" >
        <li ><a href="https://www.facebook.com/Instituto-Superior-Arturo-Umberto-Illia-272956749994490" target="_blank" class="fb-ic facebook ">
          <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x " > </i>
        </a></li>
        <li><a href="https://www.instagram.com/portalisaui/?hl=es-la" target="_blank" class="ins-ic instagram">
          <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x "> </i>
        </a></li> 
        <li><a href="https://isaui.edu.ar/" target="_blank" class="gplus-ic google-plus">
          <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x "> </i>
        </a></li>
        <li><a href="https://www.youtube.com/channel/UCrWFPj_Yj9CiWPtc9i1dxRw" target="_blank" class="gplus-ic youtube">
          <i class="fab fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x "> </i>
        </a></li>
      </ul>

      
      </div>

    </div>
  <!--  <hr style="color: black;"  > -->

  
        <!-- Grid column -->
        
<div class="row mt-3 d-flex align-items-center" style="margin-top: 0;height:30px;background-color: #b1b1b1;" >
  <div   >
  
    
     <!--  <div style="display:block;margin:auto;">
      <a href="tel:+549 3541 431501"> <span title="Teléfono" class="fas fa-phone mr-3 small"></span><small> (03541) 431501</small></a> <small> | </small> <a href="tel:+549 3541 438264"><small>(03541) 438264</small></a>
        
       <a href="https://goo.gl/maps/p5S7r7rdVFKNuBnJ8" target="_blank"><small><span title="Dirección" class="fas fa-home mr-3 small"></span>Olsacher 99 – Villa Carlos Paz - Córdoba - Argentina</small> </a>
        
      <a href="mailto:soporteit@isaui.edu.ar?Subject=Mail%20de%20portal%20ISAUI"><span title="Correo electronico" class="fas fa-envelope mr-3 small"></span><small> soporteit@isaui.edu.ar</small></a>
      </div> -->
  </div>
  <div   >
  
  </div>
  
</div>
     <!--  <hr style="color: black;"  > -->
      <!-- Copyright -->
 <!-- Copyright -->
  
   <small style="color: blanchedalmond; height: 20px;"> © 2020 Copyright: </small>
  <a href="https://isaui.edu.ar/" target="_blank" class="dark-grey-text"><small style="color: rgb(58, 117, 196);"> <strong>isaui.edu.ar </strong></small></a> 
  
  <!-- Copyright -->

</div>
</footer> 