
 <!-- Footer -->

 <footer class="footer  lighten-5"  >

 
  <div class="container-fluid">

    <!-- Grid row-->
    <div class="row py-2 d-flex align-items-center ">

      <!-- Grid column -->
      <div class="col-lg-9 text-center text-md-left mb-4 mb-md-0 ">
        <h6 class="mb-0" style="color: blanchedalmond;"><strong>¡Conéctese con nosotros en las redes sociales!</strong></h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class=" col-lg-3 text-center text-md-right mb-4 mb-md-0 redes-conteiner" >
        
      <ul style="height: 35px;" >
        <li ><a href="https://www.facebook.com/Instituto-Superior-Arturo-Umberto-Illia-272956749994490" target="_blank" class="fb-ic facebook ">
          <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x " > </i>
        </a></li>
        <li><a href="https://www.instagram.com/portalisaui/?hl=es-la" target="_blank" class="ins-ic instagram">
          <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x "> </i>
        </a></li> 
        <li><a href="https://isaui.edu.ar/" target="_blank" class="gplus-ic google-plus">
          <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x "> </i>
        </a></li>
        <li><a href="https://www.youtube.com/channel/UCrWFPj_Yj9CiWPtc9i1dxRw" target="_blank" class="gplus-ic youtube">
          <i class="fab fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x "> </i>
        </a></li>
      </ul>

      
      </div>

    </div>
  <!--  <hr style="color: black;"  > -->

  
        <!-- Grid column -->
        
<div class="row mt-3 d-flex align-items-center" style="background-color: #b1b1b1;" >
  <div class="col-md-6 mt-md-0 mt-3" >
  
    <!-- Content -->
    <h6 class="text-uppercase font-weight-bold"  ><small><strong>CONTACTO</strong></small></h6>
      <div>
      <abbr title="Teléfono"><i class="fas fa-phone mr-3 small"></i></abbr> <a href="tel:+549 3541 431501"><small> (03541) 431501</small></a> <small> | </small> <a href="tel:+549 3541 438264"><small>(03541) 438264</small></a>
      </div>
      <div>
      <abbr title="Dirección"><i class="fas fa-home mr-3 small"></i></abbr><a href="https://goo.gl/maps/p5S7r7rdVFKNuBnJ8" target="_blank"><small>Olsacher 99 – Villa Carlos Paz - Córdoba - Argentina</small> </a>
      </div>
      <!-- <p>
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d637.7084020059586!2d-64.49384121196253!3d-31.415384127415535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb40d4d8bcc97341f!2sInstituto%20Superior%20Arturo%20Umberto%20Illia!5e0!3m2!1ses!2sar!4v1598655755714!5m2!1ses!2sar" width="350" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p> -->
       <div>
        <abbr title="Correo electronico"><i class="fas fa-envelope mr-3 small"></i></abbr> <a href="mailto:soporteit@isaui.edu.ar?Subject=Mail%20de%20portal%20ISAUI"><small>soporteit@isaui.edu.ar </small></a>
      </div>
  </div>
  <div class="col-md-6 mb-md-0 mb-3" style="height: 175px;" >
  
    <!-- Content -->
    <h6 class="text-uppercase font-weight-bold" ><small><strong>Footer text 2</strong></small></h6> <!-- style="height: 50px;" -->
    <small style="color: #ffffff;">
      <div >Guidones </div>
      <div>Veneziano</div>
      <div>Chanan</div>
    </small>

  </div>
  
</div>
     <!--  <hr style="color: black;"  > -->
      <!-- Copyright -->
 <!-- Copyright -->
  
   <small style="color: blanchedalmond;"> © 2020 Copyright: </small>
  <a href="https://isaui.edu.ar/" target="_blank" class="dark-grey-text"><small style="color: rgb(58, 117, 196);"> <strong>isaui.edu.ar </strong></small></a>

  <!-- Copyright -->

</div>
</footer> 