<abm-filtro (emisorFiltro)="lista = $event" ></abm-filtro><div id="notificacion" class="alert alert-success alert-dismissible fade show" style="display:none;" role="alert">
     <div id="textnotificacion" class="lead"></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 <div [class]="this.servicio.classtable">
    <h3>Curriculum</h3>
    <table [class]="this.servicio.classtable2">
        <thead>
            <tr>
                <th *ngIf="this.servicio.idSeleccionado != null && !esRelacion" >Seleccionar</th>
                <th scope="col">Nombre y apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let c of lista">
                <td *ngIf="this.servicio.idSeleccionado != null && !esRelacion && this.servicio.idsSeleccionados != null"><input *ngIf="esSeleccionado(c.id)"  (click)="cambiarEstado(c.id)" type="checkbox" checked id="chk-{{c.id}}" />
                    <input *ngIf="!esSeleccionado(c.id)" (click)="cambiarEstado(c.id)" type="checkbox" id="chk-{{c.id}}" /></td>
                <td>{{c.nombre}},&nbsp;&nbsp;{{c.apellido}}</td>
                <td>{{c.numerodoc}}</td>
                <td>{{c.telefono}}</td>
                <td>{{c.correo}}</td>
                
                 <td><!--<button *ngIf="!esRelacion" class="btn btn-outline-success" title="Editar" (click)="editar(c.id)" ><span class="fa fa-edit"></span></button> -->
                    <!-- <button *ngIf="!esRelacion" class="btn btn-outline-danger"  title="Eliminar" (click)="eliminar(c.id)"><span class="fa fa-trash-alt"></span></button> -->
                    <button *ngIf="!esRelacion" class="btn btn-info"  title="Ver curriculum" (click)="ver(c.id)"><span class="fa fa-eye"></span></button>
                    <button *ngIf="!esRelacion && this.modalService.listAbm != null && this.modalService.listAbm != undefined" class="btn btn-outline-info" title="Seleccionar" (click)="seleccionar(c.id)"><span class="fa fa-check"></span></button></td>
            </tr>
        </tbody>
    </table>
   
</div>
<!-- <button *ngIf="!esRelacion" class="btn btn-info" (click)="editar(0)" ><span ></span> Nuevo registro</button> -->
<button *ngIf="this.servicio.idSeleccionado != null && !esRelacion" class="btn btn-info" (click)="aceptarSeleccion()" >Aceptar selección</button>