<div [class]="this.servicio.alertrel"   id="l-estudiantes">
    <button type="button" class="close" (click)="closerel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <h4 [class]="this.servicio.classtable" >{{cursoSeleccionado}}</h4>
    <hr> 
    <!-- <br />
    <hr> 
    <br /> -->
    <app-abm-estudiante [esRelacionCurso]="true" [estudiantes]="this.listaestudiantes" [lista]="this.listaestudiantes" ></app-abm-estudiante>
    <button *ngIf="this.servicio.idSeleccionado" class="btn btn-info" (click)="modificar()" ><span ></span>Modificar estudiantes</button>
    </div>
<div class="row">
    <div  class="float-left col-md-12">
<app-abm-curso [esRelacion]="true" (emisorId)="searchestudiantes($event)"></app-abm-curso>
<!-- <br />
<br /> -->
</div></div>
